fastapi==0.115.0
uvicorn[standard]==0.30.6
pandas==2.2.2
scikit-learn==1.6.1
joblib==1.4.2
numpy==1.26.4
openpyxl==3.1.5
python-multipart==0.0.9
Pillow==10.4.0
google-generativeai==0.7.2
google-genai
fastapi
uvicorn
python-multipart
pillow
python-dotenv
